<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <style>
          section table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }
          section td, th {
              border: 2px solid #422828;
              text-align:left;
              padding: 8px;
              }
          section tr:nth-child(even) {
            background-color: #bfefef;
          }
          .only{
              text-align: center;
              background-color: black;
              color: white;
              border-radius: 10px;
          }
          </style>
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                      <a href="../index.html"><img src="template_im/goldenlogo.png"></a>
                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
          <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="academics.html">Academics</a>
            <a href="admissions.html">Admissions</a>
            <a href="examination.html">Examination</a>
            <a href="transfer.html">Transfer Certificate</a>
            <a href="contact-us.html">Contact Us</a>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                <!-- <i class="fa fa-caret-down"></i> -->
              </button>
              <div class="dropdown-content">
                <a href="infra-details.html">Infrastructure Details</a>
                <a href="location.html">Location Details</a>
                <a href="other.html">Other</a>
              </div>
            </div> 
        </div>
          </nav>
          <section>
            <h1> Academics (2021-22)</h1>
            <h3 class="only">Classwise Link for Online Classes</h3>
            <p><strong>Will be updated soon !</strong></p>
            <p><strong>CLASS IX</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Maths</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Science</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>S.Sc</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>IT</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>                  
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                    
            </div>
            <br>
            <p><strong>CLASS X</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Maths</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Science</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>S.Sc</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>IT</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>                  
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                    
            </div>
            <br>
            <p><strong>CLASS XI</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>History</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Pol Sc.</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Geo</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Eco</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Phy</strong></p>                    
                </div>  
                <div class="fle-child magenta">
                    <p> <strong>Chem</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Bio</strong></p>                    
                </div>    
                <div class="fle-child magenta">
                    <p> <strong>IT</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>            
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div> 
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                        
            </div>
            <br>
            <p><strong>CLASS XII</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>History</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Pol Sc.</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Geo</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Eco</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Phy</strong></p>                    
                </div>  
                <div class="fle-child magenta">
                    <p> <strong>Chem</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Bio</strong></p>                    
                </div>    
                <div class="fle-child magenta">
                    <p> <strong>IT</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>            
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div> 
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                        
            </div>
            <br>
            <p><strong>* Click on the Subject to view Syllabus details.</strong></p>
            <div class="flex-container">
                <div class="flex-child magenta">
                    <p> <strong>Subjects Offered in Secondary classes(9 and 10)</strong></p>
                    
                  </div>
                  
                  <div class="flex-child green">
                    <p><strong>Subjects Offered in Senior Secondary classes(11 and 12)</strong>  </p>
                  </div>
            </div>
            
            <div class="lex-container">
                <div class="lex-child magenta">
                    <ul>
                        <li> <a href="PDFs/English_LL_2021-22_compressed.pdf">184 - English Language and Literature.</a></li>
                        <li> <a href="PDFs/Hindi_B_Sec_2021-22_compressed.pdf">085 - Hindi Course-B.</a></li>
                        <li> <a href="PDFs/Maths_Sec_2021-22-compressed.pdf">041 - Mathematics Standard.</a></li>
                        <li> <a href="PDFs/Maths_Sec_2021-22-compressed.pdf">241 - Mathematics Basic.</a></li>
                        <li> <a href="PDFs/Science_Sec_2021-22-compressed.pdf">086 - Science</a></li>
                        <li> <a href="PDFs/Social_Science_Sec_2021-22-compressed.pdf">087 - Social Science.</a></li>
                        <li> 402 - Information Technology. </li>
                        <li> 406 - Introduction to Tourism.</li>
                    </ul>
                    
                  </div>                  
                  <div class="lex-child green">
                    <ul>
                        <li> <a href="PDFs/English_core_SrSec_2021-22-compressed.pdf">301 - Engilish Core</a></li>
                        <li> <a href="PDFs/Hindi_Elective_SrSec_2021-22-compressed.pdf">002 - Hindi Elective</a></li>
                        <li> <a href="PDFs/History_SrSec_2021-22-compressed.pdf">027 - History</a></li>
                        <li> <a href="PDFs/PoliticalScience_SrSec_2021-22-compressed.pdf">028 - Political Science</a></li>
                        <li> <a href="PDFs/Geography_SrSec_2021-22-compressed.pdf">029 - Geography</a></li>
                        <li> <a href="PDFs/Economics_SrSec_2021-22-compressed.pdf">030 - Economics</a></li>
                        <li> <a href="PDFs/Maths_SrSec_2021-22-compressed.pdf">041 - Mathematics</a></li>
                        <li> <a href="PDFs/Physics_SrSec_2021-22-compressed.pdf">042 - Physics</a></li>
                        <li> <a href="PDFs/Chemistry_SrSec_2021-22-compressed.pdf">043 - Chemistry</a></li>
                        <li> <a href="PDFs/Biology_SrSec_2021-22-compressed.pdf">044 - Biology</a></li>
                        <li> 500 - Work Experience</li>
                        <li> 502 - Physical and Health Education</li>
                        <li> 503 - General Studies</li>
                    </ul>
                  </div>
            </div>

            <br>
            <h1>TENTATIVE CALENDAR OF ACTIVITIES FOR ACADEMIC SESSION 2021-2022</h1>
            <h3 class="only">ADMISSION PERIOD FOR NEW ACADEMIC SESSION :- 1st July'2021 - 15th July'2021</h3>
            <p>(It is mandatory to complete whole admission process within given period for Classes IX, X and XII, except transfer case, Class XI-Hum and Science.)</P>
            <p><b>A.  TERMS :-</b></p>
                <p>1.   <u><b>FIRST TERM</b></u> : 1st April'2021 to 30th Sept'2021 <b>(Vacation Period : 01st May'2021 to 15th June'2021) </b> </p>
                <p>2.   <u><b>SECOND TERM</b></u>: 1st October'2021 to 31st March'2022</p>
                <br>
            <p><B>B.  ACADEMIC ACTIVITIES :-</B></p>
            <P><b>1.<u> General</u>:-</b></P>
                <table>
              <thead>
                <tr>
                  <th>Sl No.</th>
                        <th>ACTIVITIES</th>
                        <th>SCHEDULE</th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                       <td>(i)</td>
                                <td>Re-opening of School</td>
                                <td>1st July'2021 (Thursday)</td>
                            </tr>
                            <tr>
                                 <td>(ii)</td>
                                <td>Commencement of Academic Classes </td>
                                <td>As per notification of DSE, Itanagar </td>
                            </tr>
                            <tr>
                                <td>(iii)</td>
                                <td>Admission of classes (Class-IX,X &  XII)</td>
                                <td>1st July'2021 - 10th July'2021</td>
                            </tr>
                            <tr>
                                <td>(iv)</td>
                                <td>Formation of Houses</td>
                                <td>Within 2nd week of July'21. Name of Houses has been prescribed as (Siang, Kameng, Subansiri, Lohit, Dibang)- Any four names may be selected</td>
                            </tr>
                            <tr>
                                <td>(v)</td>
                                <td>Last Date of Admission of Class - XI</td>
                                <td>Within 15 days after the declaration of CBSE Class 10 result.</td>
                            </tr>
                            <tr>
                                <td>(vi)</td>
                                <td>Last Date of Admission for Compartment Examination passed students of Class XI</td>
                                <td>Within 15 days after the declaration of CBSE Class 10 compartment result.</td>
                            </tr>
                  </tbody>
            </table><br>
            <p><b>2.<u> Scholastic</u></b> :- Marks of the best two Periodic Tests to be taken into cosideration for internal Assessment in Board Examination.</p>
            <table>     
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>ACTIVITITIES</th>
                                <th>SCHEDULE</th>
                            </tr>
                        </thead>
                        <tbody>
                    <tr>
                       <td>(i)</td>
                                <td>Commencement of Academic Classes</td>
                                <td>As per notification by DSE, Itanagar</td>
                            </tr>
                            <tr>
                                 <td>(ii)</td>
                                <td>AISSC / AISSE Compartment Examination</td>
                                <td>To be notified by CBSE. </td>
                            </tr>
                            <tr>
                                <td>(iii)</td>
                                <td>Periodic Test - I for all classes</td>
                                <td>Last week of July'2021</td>
                            </tr>
                            <tr>
                                <td>(iv)</td>
                                <td>Periodic Test - II for all classes</td>
                                <td>Third week of August'2021</td>
                            </tr>
                            <tr>
                                <td>(v)</td>
                                <td>Half Yearly Examination for all classes</td>
                                <td>18th October'2021 to 28th October'2021 </td>
                            </tr>
                            <tr>
                                <td>(vi)</td>
                                <td>Periodic Test - III for all classes</td>
                                <td>22nd November'2021 to 29th November'2021</td>
                            </tr>
                            <tr>
                                <td>(vii)</td>
                                <td>State level NTSExam-2022</td>
                                <td>During November'2021 (As per notification of NCERT)</td>
                            </tr>
                            <tr>
                                <td>(viii)</td>
                                <td>Pre Board Examination for Classes X & XII</td>
                                <td>1st Week of January'2022</td>
                            </tr>
                            <tr>
                                <td>(ix))</td>
                                <td>Practical Examination 2022 for classes IX & XI</td>
                                <td>07th January'2022 to 22nd January'2022</td>
                            </tr>
                            <tr>
                                <td>(x)</td>
                                <td>Internal State Board Examination-2022</td>
                                <td>In 2nd Week of February'2022 (date to be notified by DSE)</td>
                            </tr>
                            <tr>
                                <td>(xi)</td>
                                <td>AISSCE / AISSE Practical / Project Examination (Class- XII & X)</td>
                                <td>2nd Week of January'2022 to 2nd Week of February'2022 (to be notified by CBSE)</td>
                            </tr>
                            <tr>
                                <td>(xii)</td>
                                <td>AISSC / AISSE-2022 (Class X & XII)</td>
                                <td>1st Week of March'2022 (Date to be notified by CBSE)</td>
                            </tr>
                            <tr>
                                <td>(xiii)</td>
                                <td>Declaration of result of classes IX and XI</td>
                                <td>1st Week of April'2022</td>
                            </tr>
                            <tr>
                                <td>(xiv)</td>
                                <td>Declaration of result of classes 10 and 12</td>
                                <td>2nd Week of May'2022 (Date to be notified by CBSE)</td>
                            </tr>
                            <tr>
                                <td>(xv)</td>
                                <td>National level NTSExam -2022</td>
                                <td> May'2022 (As per notification of NCERT)</td>
                            </tr>
                        </tbody>
            </table><br>
            <p><b>3.<u> Co-Scholastic Activities </u></b> :-</p>
            <p>Co-scholastics activities are continuous process. It includes Games & Sports,Scouts & Guides, NCC, NSS, Cultural, literary activities, school day celebration etc.</p>
            <table>     
                    <thead>
                        <tr>
                        <th>(i)</th>
                        <th colspan="3">Science Seminar 2021</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>Within July'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>Within August'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>3rd Week of August'2021</td>
                    </tr>
                    <tr>
                        <td><b>(ii)</b></td>
                        <td colspan="3"><b>Science Exhibition-2021</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level Science Exhibition</td>
                        <td>Within August'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level Science Exhibition </td>
                        <td>Within September'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level Science Exhibition</td>
                        <td>November'2021</td>
                    </tr>
                    <tr>
                        <td><b>(iii)</b></td>
                        <td colspan="3"><b>Governor's G.K.Quiz ompetition</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>Within August'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>Within September'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>October'2021</td>
                    </tr>
                    <tr>
                        <td><b>(iv)</b></td>
                        <td colspan="3"><b>INSPIRE Exhibition</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>July'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>July/August'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>As notified by the GOI, New Delhi</td>
                    </tr>
                    <tr>
                        <td><b>(v)</b></td>
                        <td colspan="3"><b>SCOUTS & GUIDES Activities :-</b> Various schedule to be notified by Scouts & Guides HQ </td>
                    </tr>
                    <tr>
                        <td><b>(vi)</b></td>
                        <td colspan="3"><b>NCC Activities :-</b> Various schedule to be notified by NCC Troop HQ </td>
                    </tr>
                    <tr>
                        <td><b>(vii)</b></td>
                        <td colspan="3"><b>Games and Sports Activities :-</b> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>District Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>July / August'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>State Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>August/September'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>National Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>September/October'2021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>d)</td>
                        <td>Yoga Camp & Self Defense Training of Girls Students (ISSE)</td>
                        <td>October'2021</td>
                    </tr>
                    <tr>
                        <td><b>(viii)</b></td>
                        <td colspan="3"><b>Literary & Cultural Activities :-</b>Schedule to be notified by respective Literary & Cultural i/c </td>
                    </tr>
                    </tbody>
                </table>
          </section>
          <br><br><br><br><br><br><br><br>
          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 17/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
     

    </body>
