<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <style>
          section table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }
          section td, th {
              border: 2px solid #422828;
              text-align:left;
              padding: 8px;
              }
          section tr:nth-child(even) {
            background-color: #bfefef;
          }
          .only{
              text-align: center;
              background-color: black;
              color: white;
              border-radius: 10px;
          }
          </style>
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                      <a href="../index.html"><img src="template_im/goldenlogo.png"></a>
                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
          <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="academics.html">Academics</a>
            <a href="admissions.html">Admissions</a>
            <a href="examination.html">Examination</a>
            <a href="transfer.html">Transfer Certificate</a>
            <a href="contact-us.html">Contact Us</a>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                <!-- <i class="fa fa-caret-down"></i> -->
              </button>
              <div class="dropdown-content">
                <a href="infra-details.html">Infrastructure Details</a>
                <a href="location.html">Location Details</a>
                <a href="other.html">Other</a>
              </div>
            </div> 
        </div>
          </nav>
          <section>
            <h1> Academics (2023-2024)</h1>
            <h3 class="only">SYLLABUS FOR EXAMINATIONS 2023-2024</h3>
            <p><strong>* Click on the Subject to view Syllabus details for 2023-2024.</strong></p>
            <div class="flex-container">
                <div class="flex-child magenta">
                    <p> <strong>Subjects Offered in Secondary classes(9 and 10)</strong></p>
                    
                  </div>
                  
                  <div class="flex-child green">
                    <p><strong>Subjects Offered in Senior Secondary classes(11 and 12)</strong>  </p>
                  </div>
            </div>
            
            <div class="lex-container">
                <div class="lex-child magenta">
                    <ul>
                        <li> <a href="PDFs/Syllabus/English_LL_2023-24.pdf">184 - English Language and Literature.</a></li>
                        <li> <a href="PDFs/Syllabus/Hindi_B_Sec_2023-24.pdf">085 - Hindi Course-B.</a></li>
                        <li> <a href="PDFs/Syllabus/Maths_Sec_2023-24.pdf">041 - Mathematics </a></li>
                        <li> <a href="PDFs/Syllabus/Science_Sec_2023-24.pdf">086 - Science</a></li>
                        <li> <a href="PDFs/Syllabus/Social_Science_Sec_2023-24.pdf">087 - Social Science.</a></li>
                        <li> <a href="PDFs/402-INFO_TECH_IX.pdf">402 - Information Technology Class-IX</a></li>
                        <li> <a href="PDFs/402-INFO_TECH_X.pdf">402 - Information Technology Class-X</a></li>
                        <li> <a href="PDFs/406-INTRODUCTION_TOURISM.pdf">406 - Introduction to Tourism.</a></li>
                        <li> <a href="PDFs/Internal_Assessment_Practicals_Projects.pdf">Guidelines for Internal Assessment/Practical/Project Work for Class(IX-XII)</a></li>
                    </ul>
                    
                  </div>                  
                  <div class="lex-child green">
                    <ul>
                        <li> <a href="PDFs/Syllabus/English_core_SrSec_2023-24.pdf">301 - Engilish Core</a></li>
                        <li> <a href="PDFs/Syllabus/Hindi_Elective_SrSec_2023-24.pdf">002 - Hindi Elective</a></li>
                        <li> <a href="PDFs/Syllabus/History_SrSec_2023-24.pdf">027 - History</a></li>
                        <li> <a href="PDFs/Syllabus/PoliticalScience_SrSec_2023-24.pdf">028 - Political Science</a></li>
                        <li> <a href="PDFs/Syllabus/Geography_SrSec_2023-24.pdf">029 - Geography</a></li>
                        <li> <a href="PDFs/Syllabus/Economics_SrSec_2023-24.pdf">030 - Economics</a></li>
                        <li> <a href="PDFs/Syllabus/Maths_SrSec_2023-24.pdf">041 - Mathematics</a></li>
                        <li> <a href="PDFs/Syllabus/Physics_SrSec_2023-24.pdf">042 - Physics</a></li>
                        <li> <a href="PDFs/Syllabus/Chemistry_SrSec_2023-24.pdf">043 - Chemistry</a></li>
                        <li> <a href="PDFs/Syllabus/Biology_SrSec_2023-24.pdf">044 - Biology</a></li>
                    </ul>
                  </div>
            </div>
            <h3 class="only">SAMPLE QUESTION PAPER OF CLASS-X AND CLASS-XII 2023-2024</h3>
            <p><strong>* Click on the Subject to download Sample Question Paper for the Examination to be held in February-March'2024</strong></p>
            <div class="flex-container">
                <div class="flex-child magenta">
                    <p> <strong>Subject wise Sample Question Paper of Class-10 for AISSE-2024</strong></p>
                    
                  </div>
                  
                  <div class="flex-child green">
                    <p><strong>Subject wise Sample Question Paper of Class-12 for AISSCE-2024</strong>  </p>
                  </div>
            </div>

            <div class="lex-container">
                <div class="lex-child magenta">
                    <ul>
                        <li> <a href="PDFs/SQPaper/EnglishL-SQP.pdf">184 - English Language and Literature.</a></li>
                        <li> <a href="PDFs/SQPaper/HindiCourseB-SQP.pdf">085 - Hindi Course-B.</a></li>
                        <li> <a href="PDFs/SQPaper/MathsStandard-SQP.pdf">041 - Mathematics Standard </a></li>
                        <li> <a href="PDFs/SQPaper/MathsBasic-SQP.pdf">041 - Mathematics Basic </a></li>
                        <li> <a href="PDFs/SQPaper/Science-SQP.pdf">086 - Science</a></li>
                        <li> <a href="PDFs/SQPaper/SocialScience-SQP.pdf">087 - Social Science.</a></li>
                        <li> <a href="#">402 - Information Technology</a></li>
                        <li> <a href="#">406 - Introduction to Tourism</a></li>
                    </ul>
                    
                  </div>                  
                  <div class="lex-child green">
                    <ul>
                        <li> <a href="PDFs/SQPaper/EnglishCore-SQP.pdf">301 - Engilish Core</a></li>
                        <li> <a href="PDFs/SQPaper/HindiElective-SQP.pdf">002 - Hindi Elective</a></li>
                        <li> <a href="PDFs/SQPaper/History-SQP.pdf">027 - History</a></li>
                        <li> <a href="PDFs/SQPaper/PolSci-SQP.pdf">028 - Political Science</a></li>
                        <li> <a href="PDFs/SQPaper/Geography-SQP.pdf">029 - Geography</a></li>
                        <li> <a href="PDFs/SQPaper/Economics-SQP.pdf">030 - Economics</a></li>
                        <li> <a href="PDFs/SQPaper/Maths-SQP.pdf">041 - Mathematics</a></li>
                        <li> <a href="PDFs/SQPaper/Physics-SQP.pdf">042 - Physics</a></li>
                        <li> <a href="PDFs/SQPaper/Chemistry-SQP.pdf">043 - Chemistry</a></li>
                        <li> <a href="PDFs/SQPaper/Biology-SQP.pdf">044 - Biology</a></li>
                    </ul>
                  </div>
            </div>
            <h3 class="only">Classwise Link for Online Classes</h3>
            <p><strong> No Online Classes conducted in session 2023-2024 !</strong></p>
            <p><strong>CLASS IX</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Maths</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Science</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>S.Sc</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>IT</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>                  
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                    
            </div>
            <br>
            <p><strong>CLASS X</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Maths</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Science</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>S.Sc</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>IT</strong>  </p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>                  
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="https://classroom.google.com/c/Mzg2NjkxNDMyMzU4?cjc=due7esu"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                    
            </div>
            <br>
            <p><strong>CLASS XI</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>History</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Pol Sc.</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Geo</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Eco</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Phy</strong></p>                    
                </div>  
                <div class="fle-child magenta">
                    <p> <strong>Chem</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Bio</strong></p>                    
                </div>    
                <div class="fle-child magenta">
                    <p> <strong>IT</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>            
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div> 
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                        
            </div>
            <br>
            <p><strong>CLASS XII</strong></p>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>Eng</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Hindi</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>History</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Pol Sc.</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Geo</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Eco</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Phy</strong></p>                    
                </div>  
                <div class="fle-child magenta">
                    <p> <strong>Chem</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>Bio</strong></p>                    
                </div>    
                <div class="fle-child magenta">
                    <p> <strong>IT</strong></p>                    
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TT</strong></p>                    
                </div>            
            </div>
            <div class="x-container">
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                  
                <div class="x-child green">
                  <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div> 
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>     
                <div class="x-child magenta">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>           
                </div>                        
            </div>
            <br>
            
            <br>
            <h1>CALENDAR OF ACTIVITIES FOR ACADEMIC SESSION 2023-2024</h1>
            <h3 class="only">ADMISSION PERIOD FOR NEW ACADEMIC SESSION :- 1st June'2023 - 15th June'2023</h3>
            <p>(It is mandatory to complete whole admission process within given period for Classes IX, X and XII, except transfer case, Class XI-Hum and Science.)</P>
            <p><b>A.  TERMS :-</b></p>
                <p>1.   <u><b>FIRST TERM</b></u> : 1st June'2023 to 31st Oct'2023 <b>(Vacation Period : 17th April'2023 to 31st May'2023) </b> </p>
                <p>2.   <u><b>SECOND TERM</b></u>: 1st November'2023 to 31st March'2024</p>
                <br>
            <p><B>B.  ACADEMIC ACTIVITIES :-</B></p>
            <P><b>1.<u> General</u>:-</b></P>
                <table>
              <thead>
                <tr>
                  <th>Sl No.</th>
                        <th>ACTIVITIES</th>
                        <th>SCHEDULE</th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                       <td>(i)</td>
                                <td>Re-opening of School</td>
                                <td>1st June'2023 (Thursday)</td>
                            </tr>
                            <tr>
                                 <td>(ii)</td>
                                <td>Admission of classes (Class-IX,X &  XII)</td>
                                <td>1st - 15th June'2023 </td>
                            </tr>
                            <tr>
                                <td>(iii)</td>
                                <td>Commencement of Academic Classes</td>
                                <td>16th June'2023</td>
                            </tr>
                            <tr>
                                <td>(iv)</td>
                                <td>Formation of Houses</td>
                                <td>By 16th June'2023. Names of Houses have been prescribed (Siang, Kameng, Subansiri, Lohit, Dibang)- Any four names may be selected</td>
                            </tr>
                            <tr>
                                <td>(v)</td>
                                <td>Last Date of Admission of Class - XI</td>
                                <td>Within 15 days after the declaration of CBSE Class 10 result.</td>
                            </tr>
                            <tr>
                                <td>(vi)</td>
                                <td>Last Date of Admission for Compartment Examination passed students of Class XI</td>
                                <td>Within 15 days after the declaration of CBSE Class 10 compartment result.</td>
                            </tr>
                  </tbody>
            </table><br>
            <p><b>2.<u> Scholastic</u></b> :- Marks of the best two Periodic Tests to be taken into cosideration for internal Assessment in Board Examination.</p>
            <table>     
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>ACTIVITITIES</th>
                                <th>SCHEDULE</th>
                            </tr>
                        </thead>
                        <tbody>
                    <tr>
                       <td>(i)</td>
                                <td>Commencement of Academic Classes</td>
                                <td>16th June, 2023</td>
                            </tr>
                            <tr>
                                 <td>(ii)</td>
                                <td>Textbook distribution in the school</td>
                                <td>Free textbooks to be issued simultaneously during admission time </td>
                            </tr>
                            <tr>
                                <td>(iii)</td>
                                <td>AISSC / AISSE Compartment Examination</td>
                                <td>To be notified by CBSE.</td>
                            </tr>
                            <tr>
                                <td>(iv)</td>
                                <td>Half Yearly Examination for all classes</td>
                                <td>November 2023</td>
                            </tr>
                            <tr>
                                <td>(v)</td>
                                <td>Pre-Board Examination for Classes X & XII </td>
                                <td>1st Week of January'2024</td>
                            </tr>
                            <tr>
                                <td>(vi)</td>
                                <td>Practical Examination 2024 for classes IX & XI</td>
                                <td>07th January'2024 to 22nd January'2024</td>
                            </tr>
                            <tr>
                                <td>(vii)</td>
                                <td>Internal State Board Examination-2024</td>
                                <td>In 2nd Week of February'2024 (date to be notified by DSE)</td>
                            </tr>
                            <tr>
                                <td>(viii)</td>
                                <td>AISSCE / AISSE Practical / Project Examination (Class- XII & X)</td>
                                <td>to be notified by CBSE</td>
                            </tr>
                            <tr>
                                <td>(ix)</td>
                                <td>AISSC / AISSE-2024 (Class X & XII)</td>
                                <td>2nd Week of February'2024 (Date to be notified by CBSE)</td>
                            </tr>
                            <tr>
                                <td>(x)</td>
                                <td>Declaration of result of classes IX and XI</td>
                                <td>30th March'2024</td>
                            </tr>
                            <tr>
                                <td>(xi)</td>
                                <td>Declaration of result of classes 10 and 12</td>
                                <td>to be notified by CBSE</td>
                            </tr>
                        </tbody>
            </table><br>
            <p><b>3.<u> Co-Scholastic Activities </u></b> :-</p>
            <p>Co-scholastics activities are continuous process. It includes Games & Sports,Scouts & Guides, NCC, NSS, Cultural, literary activities, school day celebration etc.</p>
            <table>     
                    <thead>
                        <tr>
                        <th>(i)</th>
                        <th colspan="3">Science Seminar 2023</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td><b>(ii)</b></td>
                        <td colspan="3"><b>Science Exhibition-2023</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level Science Exhibition</td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level Science Exhibition </td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level Science Exhibition</td>
                        <td>As notified by the BITM, Kolkata</td>
                    </tr>
                    <tr>
                        <td><b>(iii)</b></td>
                        <td colspan="3"><b>Governor's G.K.Quiz ompetition</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>Within August'2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>Within September'2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>21st October'2023 (Saturday)</td>
                    </tr>
                    <tr>
                        <td><b>(iv)</b></td>
                        <td colspan="3"><b>INSPIRE Exhibition</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>School Level</td>
                        <td>To be notified by NIF,New Delhi</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>District Level</td>
                        <td>To be notified by NIF,New Delhi</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>State Level</td>
                        <td>To be notified by NIF,New Delhi</td>
                    </tr>
                    <tr>
                        <td><b>(v)</b></td>
                        <td colspan="3"><b>SCOUTS & GUIDES Activities :-</b> Various schedule to be notified by Scouts & Guides HQ </td>
                    </tr>
                    <tr>
                        <td><b>(vi)</b></td>
                        <td colspan="3"><b>NCC Activities :-</b> Various schedule to be notified by NCC Troop HQ </td>
                    </tr>
                    <tr>
                        <td><b>(vii)</b></td>
                        <td colspan="3"><b>Games and Sports Activities :-</b> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a)</td>
                        <td>District Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>August / September'2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b)</td>
                        <td>State Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>2nd Week of October'2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c)</td>
                        <td>National Level Subroto Mukerjee Cup Football Tournament</td>
                        <td>October'2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>d)</td>
                        <td>Yoga Camp & Self Defense Training of Girls Students (ISSE)</td>
                        <td>October'2023</td>
                    </tr>
                    <tr>
                        <td><b>(viii)</b></td>
                        <td colspan="3"><b>Literary & Cultural Activities :-</b>Schedule to be notified by respective Literary & Cultural i/c </td>
                    </tr>
                    </tbody>
                </table>
          </section>
          <br><br><br><br><br><br><br><br>
          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 22/06/2023 @ 10.00 pm</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
     

    </body>
