<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>Achievements | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                      <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
          <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="academics.html">Academics</a>
            <a href="admissions.html">Admissions</a>
            <a href="examination.html">Examination</a>
            <a href="transfer.html">Transfer Certificates</a>
            <a href="contact-us.html">Contact Us</a>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                <!-- <i class="fa fa-caret-down"></i> -->
              </button>
              <div class="dropdown-content">
                <a href="infra-details.html">Infrastructure Details</a>
                <a href="location.html">Location Details</a>
                <a href="other.html">Other</a>
              </div>
            </div> 
        </div>
          </nav>
          <section>
            <br>
            <h1> ACHIEVEMENTS </h1>
            <br>
            <h3>Toppers List</h3>
            <div class="fle-container">
              <div class="fle-child magenta">
                  <p> <strong>YEAR</strong></p>                    
              </div>                  
              <div class="fle-child green">
                  <p><strong>CLASS X</strong>  </p>
              </div>
              <div class="fle-child magenta">
                <p> <strong>CLASS XII(HUMANITIES)</strong></p>                    
              </div>                  
              <div class="fle-child green">
                <p><strong>CLASS XII(SCIENCE)</strong>  </p>
              </div>
            </div>

            <!-- <div class="x-container">
              <div class="x-child magenta">
                <p>2021</p>                   
              </div>                  
              <div class="x-child green">
                <p>Name of the Student</p>
              </div>  
              <div class="x-child magenta">
                <p>Name of the Student</p>                   
              </div>                  
              <div class="x-child green">
                <p>Name of the Student</p>
              </div>  
            </div> -->

            <div class="x-container">
              <div class="x-child magenta">
                <p>2020</p>                   
              </div>                  
              <div class="x-child green">
                <p>FARUK AHMED - 64.60</p>
              </div>  
              <div class="x-child magenta">
                <p>MARINA DEORI - 76.80</p>                   
              </div>                  
              <div class="x-child green">
                <p>AMIT MORAN - 89.00</p>
              </div>  
            </div>

            <div class="x-container">
              <div class="x-child magenta">
                <p>2019</p>                   
              </div>                  
              <div class="x-child green">
                <p>ABHAY SINGH RANA - 89.60</p>
              </div>  
              <div class="x-child magenta">
                <p>RINKUMONI DEORI - 78.00</p>                   
              </div>                  
              <div class="x-child green">
                <p>RITESH KUMAR SINGH - 86.20</p>
              </div>  
            </div>

            <div class="x-container">
              <div class="x-child magenta">
                <p>2018</p>                   
              </div>                  
              <div class="x-child green">
                <p>AMIT MORAN - 87.80</p>
              </div>  
              <div class="x-child magenta">
                <p>SHUBHAM JAISWAL - 78.20</p>                   
              </div>                  
              <div class="x-child green">
                <p>PINKY KUMARI - 76.60</p>
              </div>  
            </div>

            <div class="x-container">
              <div class="x-child magenta">
                <p>2017</p>                   
              </div>                  
              <div class="x-child green">
                <p>RITESH KUMAR SINGH - 95.00</p>
              </div>  
              <div class="x-child magenta">
                <p>SUMEETA SINGPHO - 69.60</p>                   
              </div>                  
              <div class="x-child green">
                <p>SHUBHAM SINGH - 85.60</p>
              </div>  
            </div>

            <div class="x-container">
              <div class="x-child magenta">
                <p>2016</p>                   
              </div>                  
              <div class="x-child green">
                <p>PINKY KUMARI - 95.00</p>
              </div>  
              <div class="x-child magenta">
                <p>POONAM KUMARI - 75.20</p>                   
              </div>                  
              <div class="x-child green">
                <p>PALLOBJYOTI SAIKIA - 78.20</p>
              </div>  
            </div>
            <p><strong>*</strong>View topper list for the last 20 years <a href="https://drive.google.com/file/d/1c8pRA_3EzHzb2r6XVFSCGmZl4080RcPT/view?usp=sharing">here.</a></p>

            <br><br>

            <h3>State Award to Teachers</h3>
            <div class="result">

              <div class="fle-container">
                <div class="fle-child magenta">
                    <img src="faculty/MANOSH.jpg">                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Shri Manosh Kumar PR</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>PGT(Pol.Sc)</strong></p>                  
                </div>                 
                <div class="fle-child green">
                    <p><strong>2020</strong></p>
                </div>
              </div>

              <div class="fle-container">
                <div class="fle-child magenta">
                    <img src="faculty/BRAJ.jpg">                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Shri Braj Kishore Singh</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>TGT(Maths)</strong></p>                  
                </div>                 
                <div class="fle-child green">
                    <p><strong>2020</strong></p>
                </div>
              </div>

              <div class="fle-container">
                <div class="fle-child magenta">
                    <img src="faculty/amin.jpg">                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Md. Ruhul Amin</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>PGT(Economics)</strong></p>                  
                </div>                 
                <div class="fle-child green">
                    <p><strong>2018</strong></p>
                </div>
              </div>

              <div class="fle-container">
                <div class="fle-child magenta">
                    <img src="faculty/ami.jpg">                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>Shri R.S Sharma</strong></p>
                </div>
                <div class="fle-child magenta">
                    <p> <strong>PGT(Maths)</strong></p>                  
                </div>                 
                <div class="fle-child green">
                    <p><strong>2014</strong></p>
                </div>
              </div>

            </div>
            















          </section>
          <br><br><br><br><br><br><br><br><br><br><br>          <br><br><br><br><br><br><br><br><br><br><br>          <br><br><br><br><br><br><br><br><br><br><br>


          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 16/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>

    </body>
