<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>Faculty Details | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                        <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="academics.html">Academics</a>
                <a href="admissions.html">Admissions</a>
                <a href="examination.html">Examination</a>
                <a href="transfer.html">Transfer Certificates</a>
                <a href="contact-us.html">Contact Us</a>
                <div class="dropdown">
                  <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                    <!-- <i class="fa fa-caret-down"></i> -->
                  </button>
                  <div class="dropdown-content">
                    <a href="infra-details.html">Infrastructure Details</a>
                    <a href="location.html">Location Details</a>
                    <a href="other.html">Other</a>
                  </div>
                </div> 
            </div>
          </nav>
          <section>
             <br> 
            <h1> Faculty </h1>
          <hr>
          <div class="team__container">

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Marnyo.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>Marnyo Nyodu</h3><br><span>Principal</span>
                        <br><br>
                        <p>Contact : 8794229763</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/SASIKUTTAN S.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>Sasikuttan S</h3><br><span>Vice-Principal</span>
                        <br><br>
                        <p>Contact : 9436049855</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/SIMAR BELO.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>SIMAR BELO</h3><br><span>PGT-Eng</span>
                        <br><br>
                        <p>Contact : 6033827712</p>
                    </div>
                </div>  
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/MANOSH.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>MANOSH KUMAR PR</h3><br><span>PGT-P.Sc</span>
                        <br><br>
                        <p>Contact : 9436631768</p>
                    </div>
                </div>  
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/MITHILESH.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>M K PANDEY</h3><br><span>PGT-Phy</span>
                        <br><br>
                        <p>Contact : 8414805083</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/NANG-ETHIKA.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>NANG ETHIKA NAMCHOOM</h3><br><span>PGT-Hindi</span>
                        <br><br>
                        <p>Contact : 8731864882</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/PASSANG.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>PASSANG MEYOR DABI</h3><br><span>PGT-Chem</span>
                        <br><br>
                        <p>Contact : 7628058149</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="" alt=""></div>
                    <div class="team__text">
                        <h3></h3><br><span>PGT-Hist</span>
                        <br><br>
                        <p>Contact : </p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/RITUPARNA DEKA.jpeg" alt=""></div>
                    <div class="team__text">
                        <h3>RITUPARNA DEKA</h3><br><span>PGT-Maths</span>
                        <br><br>
                        <p>Contact : 9862670031</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/RAKESH.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>RAKESH MIYU</h3><br><span>PGT-Bio</span>
                        <br><br>
                        <p>Contact : 8974260587</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Barun.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>BARUN KUMAR</h3><br><span>TGT-Hindi</span>
                        <br><br>
                        <p>Contact : 8051521993</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/BRAJ.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>B K SINGH</h3><br><span>TGT-Maths</span>
                        <br><br>
                        <p>Contact : 9436632099</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/MILI.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>MILI SINHA</h3><br><span>TGT-Music</span>
                        <br><br>
                        <p>Contact : 8413813060</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Marpu.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>MARPU RIBA NYODU</h3><br><span>TGT-Social Sc.</span>
                        <br><br>
                        <p>Contact : 8794229763</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/ANJU.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>ANJU SINGH</h3><br><span>TGT-Sc</span>
                        <br><br>
                        <p>Contact : 8415895752</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/SHYAMJI.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>SHYAMJI VERMA</h3><br><span>TGT-Hindi</span>
                        <br><br>
                        <p>Contact : 9436882202</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/ANIMA.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>ANIMA BOLI</h3><br><span>TGT-S.Sc</span>
                        <br><br>
                        <p>Contact : 8732013128</p>
                    </div>
                </div>
            </div>
            
            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/JYOTI.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>JYOTI REKHA KALITA</h3><br><span>TGT-Eng</span>
                        <br><br>
                        <p>Contact : 8732802585</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/DAKPI.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>DAKPI YOMCHA</h3><br><span>TGT-S.Sc</span>
                        <br><br>
                        <p>Contact : 852975215</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Apung.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>APUNG BOKAR</h3><br><span>TGT-S.Sc</span>
                        <br><br>
                        <p>Contact : 8794187490</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Senawati.jpeg" alt=""></div>
                    <div class="team__text">
                        <h3>SENAWATI SINGKAI</h3><br><span>TGT-S.Sc</span>
                        <br><br>
                        <p>Contact : 7085320868</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/ANUWA.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>NANG ANUWA LONGKANG</h3><br><span>TGT-Eng</span>
                        <br><br>
                        <p>Contact : 8730058353</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/UTTAM.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>U K SINGH</h3><br><span>PET</span>
                        <br><br>
                        <p>Contact : 8731033192</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/CHAU-THARATSA.jpg"></div>
                    <div class="team__text">
                        <h3>CHAU THARATSA MUNGLANG</h3><br><span>AT(A)</span>
                        <br><br>
                        <p>Contact : 9862795659</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/TANI.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>TANI PABIN</h3><br><span>TGT(IT)</span>
                        <br><br>
                        <p>Contact : 9612116182</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/DIANA.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>DIANA NYORI</h3><br><span>TGT(TT)</span>
                        <br><br>
                        <p>Contact : 9402451004</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/GONO.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>GONO BIKOMIYA DEORI</h3><br><span>LAB ASST(IT)</span>
                        <br><br>
                        <p>Contact : 9862943723</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/MOLIAM.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>MOLIAM TEKWA</h3><br><span>UDC</span>
                        <br><br>
                        <p>Contact : 8731949410</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/DEVO.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>DEVO PAYUM</h3><br><span>LDC</span>
                        <br><br>
                        <p>Contact : 9862850527</p>
                    </div>
                </div>
            </div>
            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/RAJ.jpg" alt=""></div>
                    <div class="team__text">
                        <h3>R K THAKUR</h3><br><span>PEON</span>
                        <br><br>
                        <p>Contact : 9436215042</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/Dupi.jpeg" alt=""></div>
                    <div class="team__text">
                        <h3>DUPI TATO</h3><br><span>MTS</span>
                        <br><br>
                        <p>Contact : 8794958732</p>
                    </div>
                </div>
            </div>

            <div class="team__card">
                <div class="team__content">
                    <div class="team__img"><img src="faculty/MALOTI.png" alt=""></div>
                    <div class="team__text">
                        <h3>MALOTI DEORI</h3><br><span>CONTINGENCY</span>
                        <br><br>
                        <p>Contact : 8974260587</p>
                    </div>
                </div>
            </div>

          </div>

  
          </section>
          <br><br><br>
          <footer>
            <br><br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
        </footer>

          
    </body>
