<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>From The Desk | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            .card-text{
              text-align:justify;
            }
           
        </style>
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                      <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
          <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="academics.html">Academics</a>
            <a href="admissions.html">Admissions</a>
            <a href="examination.html">Examination</a>
            <a href="transfer.html">Transfer Certificates</a>
            <a href="contact-us.html">Contact Us</a>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
              </button>
              <div class="dropdown-content">
                <a href="infra-details.html">Infrastructure Details</a>
                <a href="location.html">Location Details</a>
                <a href="other.html">Other</a>
              </div>
            </div> 
        </div>
        </nav>
        <section>
            <br><br>
            <h2>FROM THE DESK OF</h2><br>
            <div class="card">
            <div class="row col-12">
                <div class="card col-6">
                  <img class="card-img-top" src="faculty/CHAU-SUNANDA.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Principal</h5>





                    <!-- To enter the details remove the text inside <p>  </p> and paste your text  -->
                    <p class="card-text">Welcome to our new colourful and vibrant website. This website will provide you with useful and important information about the school.
                       The website has various links that you are encouraged to view. We hope that you will find them useful. 
                       The curricular and co-curricular activities in the school create enormous opportunities for the students.
                       The experienced and aptly qualified teaching faculty is the driving force of this school. The school is also privileged to have the
                        wholehearted support of the parents, public leaders, members of SMC & PTA and allied govt. departments in all its endeavours. 
                        The collaborative effort of all these constituents has been important to our growth over the years.
                      In this fast paced world, the role of education becomes very crucial as it requires to mould a child into 
                      an individual capable of contributing effectively not only to the society but also to the world community 
                      at large. 
                    
                    </p>
                     <!-- End -->





                    <a href="faculty.html" class="btn btn-primary">Contact</a>
                  </div>
                </div>
                 
                <div class="card col-6">
                  <img class="card-img-top" src="faculty/LITTO.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Vice Principal</h5>





                    <!-- To enter the details remove the text inside <p>  </p> and paste your text  -->
                    <p class="card-text">We are delighted to welcome you to our website which will hopefully give you a
                       flavor of the vibrant and challenging environment in GHSS Mahadevpur. Our school is diverse and 
                       dynamic, and our students have the highest aspirations for their education and future lives. Our
                        mission is to build a vibrant learning community in which all strive to –
                        <ul>
                          <li>Advance the value of learning, growth & self awareness as lifelong endeavors.</li>
                          <li>Succeed collectively as well as individually, achieving our personal best in all aspects of life.</li>
                          <li>Interact through honest, respectful and open communication</li>
                          <li>Live our lives positively, joyfully and ethically</li>
                        </ul>
                    </p>
                    <a href="faculty.html" class="btn btn-primary">Contact</a>
                    <!-- End -->





                  </div>
                </div>
              </div>
              </div>
        </section> 
        <br><br><br>
        <div class="principal-list">
          <div class="principal-child">
            <h3>Incumbency of Principals</h3>

            <div class="fle-container">
              <div class="fle-child magenta">
                  <p> <strong>NAME</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>FROM - TO</strong>  </p>
                </div>
            </div>

            <div class="ex-container">
              <div class="ex-child magenta">
                <p>1. S.C.DUTTA</p>                   
                </div>                  
                <div class="ex-child green">
                <p>30/05/1997 - 30/03/2000</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>2. L.J.VINIT</p>                   
                </div>                  
                <div class="ex-child green">
                <p>25/09/2000 - 31/07/2001</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>3. M.AHMED</p>                   
                </div>                  
                <div class="ex-child green">
                <p>10/08/2001 - 30/06/2005</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>4. A.C.MAHANTA</p>                   
                </div>                  
                <div class="ex-child green">
                <p>01/07/2005 - 31/10/2008</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>5. DR. S.N.AHMED</p>                   
                </div>                  
                <div class="ex-child green">
                <p>24/11/2008 - 31/03/2011</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>6. MANA LINGI</p>                   
                </div>                  
                <div class="ex-child green">
                <p>04/04/2011 - 19/12/2014</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>7. LIRIK RIBA</p>                   
                </div>                  
                <div class="ex-child green">
                <p>18/06/2015 - 01/10/2015</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>8. CHAU SUNANDA SINGHPO</p>                   
                </div>                  
                <div class="ex-child green">
                <p>01/10/2015 - 31/03/2021</p>
                </div>
            </div><div class="ex-container">
              <div class="ex-child magenta">
                <p>9.</p>                   
                </div>                  
                <div class="ex-child green">
                <p> </p>
                </div>
            </div>
          </div>

          <div class="principal-child">
            <h3>Incumbency of Vice Principals</h3>

            <div class="fle-container">
              <div class="fle-child magenta">
                  <p> <strong>NAME</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>FROM - TO</strong>  </p>
                </div>
            </div>

            <div class="ex-container">
              <div class="ex-child magenta">
                <p>1. A.S.BHARDWAJ</p>                   
                </div>                  
                <div class="ex-child green">
                <p>04/08/1997 - 20/06/2003</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>2. J.N.MAHANTA</p>                   
                </div>                  
                <div class="ex-child green">
                <p>28/06/2003 - 31/07/2005</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>3. CHAU SUNANDA SINGPHO</p>                   
                </div>                  
                <div class="ex-child green">
                <p>01/09/2005 - 11/05/2011</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>4. IKEN RINA</p>                   
                </div>                  
                <div class="ex-child green">
                <p>05/06/2013 - 23/11/2018</p>
                </div>
            </div>
            <div class="ex-container">
              <div class="ex-child magenta">
                <p>5. LITTO HANDIK</p>                   
                </div>                  
                <div class="ex-child green">
                <p>16/05/2019 - Till Date</p>
                </div>
            </div>
          </div>
        </div> 
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer>
            <br><br><br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
        </footer>

    </body>
