<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>HOLIDAY LIST | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <style>
            section > table {
                  margin-left: 180px;
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 60%;
                  }
            section  td, th {
                border: 2px solid #422828;
                text-align:left;
                padding: 8px;
                }
            section  tr:nth-child(even) {
              background-color: #bdddec;
            }
            </style>
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                        <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="academics.html">Academics</a>
                <a href="admissions.html">Admissions</a>
                <a href="examination.html">Examination</a>
                <a href="transfer.html">Transfer Certificates</a>
                <a href="contact-us.html">Contact Us</a>
                <div class="dropdown">
                  <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                    <!-- <i class="fa fa-caret-down"></i> -->
                  </button>
                  <div class="dropdown-content">
                    <a href="infra-details.html">Infrastructure Details</a>
                    <a href="location.html">Location Details</a>
                    <a href="other.html">Other</a>
                  </div>
                </div> 
            </div>
          </nav>
          <section>
            <h3>GAZETTED HOLIDAYS LIST FOR YEAR 2021</h3>
            <table>
                <thead>
                    <tr>
                        <th>SR NO.</th>
                        <th>DATE &amp; MONTH</th>
                        <th>DAY</th>
                        <th>GAZETTED HOLIDAY-2021</th>
                      </tr>
                </thead>
                    <tbody>
                            <tr>
                                 <td>001</td>
                                <td>1 st January</td>
                                <td>Friday</td>
                                <td>New Year's Day</td>
                            </tr>
                            <tr>
                                 <td>002</td>
                                <td>14 th January</td>
                                <td>Thursday</td>
                                <td>Makar Shankranti</td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>26 th January</td>
                                <td>Tuesday</td>
                                <td>Republic Day</td>
                            </tr>
                            <tr>
                                <td>004</td>
                                <td>20 th February</td>
                                <td>Saturday</td>
                                <td>Statehood Day</td>
                            </tr>
                            <tr>
                                <td>005</td>
                                <td>29 th March</td>
                                <td>Monday</td>
                                <td>Holi</td>
                            </tr>
                            <tr>
                                <td>006</td>
                                <td>2 nd April</td>
                                <td>Friday</td>
                                <td>Good Friday</td>
                            </tr>
                            <tr>
                                <td>007</td>
                                <td>15 th April</td>
                                <td>Thursday</td>
                                <td>Bohag Bihu</td>
                            </tr>
                            <tr>
                                <td>008</td>
                                <td>14 th May</td>
                                <td>Friday</td>
                                <td>Idu'l Fitr</td>
                            </tr>
                            <tr>
                                <td>009</td>
                                <td>26 th May</td>
                                <td>Wenesday</td>
                                <td>Buddha Purnima</td>
                            </tr>
                            <tr>
                                <td>010</td>
                                <td>15 th August</td>
                                <td>Sunday</td>
                                <td>Independence Day</td>
                            </tr>
                            <tr>
                                <td>011</td>
                                <td>2 nd October</td>
                                <td>Saturday</td>
                                <td>Mahatma Gandhi's Birthday</td>
                            </tr>
                            <tr>
                                <td>012</td>
                                <td>14 th October</td>
                                <td>Thursday</td>
                                <td>Dussehra (Maha Saptami)</td>
                            </tr>
                            <tr>
                                <td>013</td>
                                <td>15 th October</td>
                                <td>Friday</td>
                                <td>Dussehra (Maha Ashtami) (Maha Navami) Additional</td>
                            </tr>
                            <tr>
                                <td>014</td>
                                <td>4 th November</td>
                                <td>Thursday</td>
                                <td>Diwali(Deepavali)</td>
                            </tr>
                            <tr>
                                <td>015</td>
                                <td>19 th November</td>
                                <td>Friday</td>
                                <td>Guru Nanak's Birthday</td>
                            </tr>
                            <tr>
                                <td>016</td>
                                <td>1 st December</td>
                                <td>Wednesday</td>
                                <td>Indigenous Faith Day</td>
                            </tr>
                            <tr>
                                <td>017</td>
                                <td>25 th December</td>
                                <td>Saturday</td>
                                <td>Christmas Day</td>
                                </tr>
                        </tbody>
            </table>
            <h3>RESTRICTED HOLIDAYS LIST FOR YEAR 2021</h3>
            <table>
                        <thead>
                            <tr>
                                <th>SR NO.</th>
                                <th>DATE &amp; MONTH</th>
                                <th>DAY</th>
                                <th>RESTRICTED HOLIDAY-2021</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                 <td>001</td>
                                <td>14th January</td>
                                <td>Thursday</td>
                                <td>Pongal</td>
                            </tr>
                            <tr>
                                 <td>002</td>
                                <td>2nd February</td>
                                <td>Tuesday</td>
                                <td>Ali-aye-ligang</td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>16th February</td>
                                <td>Tthursday</td>
                                <td>Basant Panchami/ Sri Panchami</td>
                            </tr>
                            <tr>
                                <td>004</td>
                                <td>19th February</td>
                                <td>Friday</td>
                                <td>Shivaji Jayanti</td>
                            </tr>
                            <tr>
                                <td>005</td>
                                <td>26th February</td>
                                <td>Friday</td>
                                <td>Hazrat Ali's Birthday</td>
                            </tr>
                            <tr>
                                <td>006</td>
                                <td>27th February</td>
                                <td>Saturday</td>
                                <td>Guru Ravidas's Birthday</td>
                            </tr>
                            <tr>
                                <td>007</td>
                                <td>o8th March</td>
                                <td>Monday</td>
                                <td>Swami Dayananda Saraswati Jayanti</td>
                            </tr>
                            <tr>
                                <td>008</td>
                                <td>11th March</td>
                                <td>Thursday</td>
                                <td>Maha Shivaratri</td>
                            </tr>
                            <tr>
                                <td>009</td>
                                <td>28th March</td>
                                <td>Sunday</td>
                                <td>Holika Dahan/Dolyatra</td>
                            </tr>
                            <tr>
                                <td>010</td>
                                <td>04th April</td>
                                <td>Sunday</td>
                                <td>Easter Sunday</td>
                            </tr>
                            <tr>
                                <td>011</td>
                                <td>13th April</td>
                                <td>Tuesday</td>
                                <td>Chaitra Sukladi/Gudi Padava/Ugadi/Cheti Chand</td>
                            </tr>
                            <tr>
                                <td>012</td>
                                <td>14th April</td>
                                <td>Wednesday</td>
                                <td>Mesadi Tamil New Year's Day</td>
                            </tr>
                            <tr>
                                <td>013</td>
                                <td>15th April</td>
                                <td>Thursday</td>
                                <td>Vaisakhadi (Bengali)</td>
                            </tr>
                            <tr>
                                <td>014</td>
                                <td>21th April</td>
                                <td>Wednesday</td>
                                <td>Ram Navami</td>
                            </tr>
                            <tr>
                                <td>015</td>
                                <td>25th April</td>
                                <td>Sunday</td>
                                <td>Mahavir Jayanti</td>
                            </tr>
                            <tr>
                                <td>016</td>
                                <td>07th May</td>
                                <td>Friday</td>
                                <td>Jamat-Ul-Vida</td>
                            </tr>
                            <tr>
                                <td>017</td>
                                <td>09th May</td>
                                <td>Friday</td>
                                <td>Guru Rabindranath's birthday</td>
                            </tr><tr>
                                <td>018</td>
                                <td>12th July</td>
                                <td>Monday</td>
                                <td>Rath Yatra</td>
                            </tr>
                            <tr>
                                <td>019</td>
                                <td>21st July</td>
                                <td>Wednesday</td>
                                <td>Id-ul-Zuha(Bakrid)</td>
                            </tr>
                            <tr>
                                <td>020</td>
                                <td>16th August</td>
                                <td>Monday</td>
                                <td>Parsi New Year's day/Nauraj</td>
                            </tr>
                            <tr>
                                <td>021</td>
                                <td>19th August</td>
                                <td>Thursday</td>
                                <td>Muharram</td>
                            </tr>
                            <tr>
                                <td>022</td>
                                <td>21st August</td>
                                <td>Saturday</td>
                                <td>Onam</td>
                            </tr>
                            <tr>
                                <td>023</td>
                                <td>22nd August</td>
                                <td>Sunday</td>
                                <td>Raksha Bandhan</td>
                            </tr>
                            <tr>
                                <td>024</td>
                                <td>30th August</td>
                                <td>Monday</td>
                                <td>Janmashtami (Vaisnavi)</td>
                            </tr>
                            <tr>
                                <td>025</td>
                                <td>10th September</td>
                                <td>Friday</td>
                                <td>Vinayaka Chaturthi/Ganseh Chaturthi</td>
                            </tr>
                            <tr>
                                <td>026</td>
                                <td>19th October</td>
                                <td>Tuesday</td>
                                <td>Milad-un-Nabi or Id-e-Milad</td>
                            </tr>
                            <tr>
                                <td>027</td>
                                <td>20th October</td>
                                <td>Wednesday</td>
                                <td>Maharishi Valmiki's Birthday</td>
                            </tr>
                            <tr>
                                <td>028</td>
                                <td>24th October</td>
                                <td>Sunday</td>
                                <td>Karaka Chaturthi (Karva Chouth)</td>
                            </tr>
                            <tr>
                                <td>029</td>
                                <td>03rd November</td>
                                <td>Wednesday</td>
                                <td>Naraka Chaturdasi</td>
                            </tr>
                            <tr>
                                <td>030</td>
                                <td>05th November</td>
                                <td>Friday</td>
                                <td>Govardhan Puja</td>
                            </tr>
                            <tr>
                                <td>031</td>
                                <td>06th November</td>
                                <td>Saturday</td>
                                <td>Bhai Duj</td>
                            </tr>
                            <tr>
                                <td>032</td>
                                <td>10th November</td>
                                <td>Wednesday</td>
                                <td>Pratihar Sashthi or Surya Sashthi(Chhat Puja)</td>
                            </tr><tr>
                                <td>033</td>
                                <td>24th November</td>
                                <td>Wenesday</td>
                                <td>Guru Teg Bahadur's Martyrdom Day</td>
                            </tr>
                            <tr>
                                <td>034</td>
                                <td>24th December</td>
                                <td>Friday</td>
                                <td>Christmas Eve</td>
                            </tr>
                        </tbody>
            </table>
            <h3>LOCAL HOLIDAYS LIST FOR YEAR 2021</h3>
            <table>
                    <thead>
                        <tr>
                        <th>SR NO.</th>
                        <th>DATE &amp; MONTH</th>
                        <th>DAY</th>
                        <th>Name of Local Festival-2021</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>001</td>
                        <td>06th January</td>
                        <td>Wenesday</td>
                        <td>Si-Donyi</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>11th January</td>
                        <td>Monday</td>
                        <td>Sarok</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>01st February</td>
                        <td>Monday</td>
                        <td>Idu-Mishmi</td>
                    </tr>
                    <tr>
                        <td>004</td>
                        <td>02nd February</td>
                        <td>Tuesday</td>
                        <td>Donggin</td>
                    </tr>
                    <tr>
                        <td>005</td>
                        <td>06th February</td>
                        <td>Saturday</td>
                        <td>Boori-Boot Yullo</td>
                    </tr>
                    <tr>
                        <td>006</td>
                        <td>14th February</td>
                        <td>Sunday</td>
                        <td>Shapwang Yaung Manawpi</td>
                    </tr>
                    <tr>
                        <td>007</td>
                        <td>15th February</td>
                        <td>Monday</td>
                        <td>Tam Ladu</td>
                    </tr>
                    <tr>
                        <td>008</td>
                        <td>16th February</td>
                        <td>Tuesday</td>
                        <td>Oriah</td>
                    </tr>
                    <tr>
                        <td>009</td>
                        <td>26th February</td>
                        <td>Friday</td>
                        <td>Nyokum</td>
                    </tr>
                    <tr>
                        <td>010</td>
                        <td>07th March</td>
                        <td>Sunday</td>
                        <td>Unying-Aran</td>
                    </tr>
                    <tr>
                        <td>011</td>
                        <td>05th April</td>
                        <td>Monday</td>
                        <td>Mopin</td>
                    </tr>
                    <tr>
                        <td>012</td>
                        <td>11th April</td>
                        <td>Sunday</td>
                        <td>Pongtu</td>
                    </tr>
                    <tr>
                        <td>013</td>
                        <td>14th April</td>
                        <td>Wednesday</td>
                        <td>Sangken</td>
                    </tr>
                    <tr>
                        <td>014</td>
                        <td>15th April</td>
                        <td>Thursday</td>
                        <td>Longte</td>
                    </tr>
                    <tr>
                        <td>015</td>
                        <td>25th April</td>
                        <td>Sunday</td>
                        <td>Moh-Mol</td>
                    </tr>
                    <tr>
                        <td>016</td>
                        <td>25th April</td>
                        <td>Sunday</td>
                        <td>Gumkum-Gumpa</td>
                    </tr>
                    <tr>
                        <td>017</td>
                        <td>05th July</td>
                        <td>Monday</td>
                        <td>Dree</td>
                    </tr>
                    <tr>
                        <td>018</td>
                        <td>01st September</td>
                        <td>Wednesday</td>
                        <td>Solung</td>
                    </tr>
                    <tr>
                        <td>019</td>
                        <td>10th September</td>
                        <td>Friday</td>
                        <td>Pham-Kho-Sowai</td>
                    </tr>
                    <tr>
                        <td>020</td>
                        <td>2th September</td>
                        <td>Friday</td>
                        <td>Ke-Meh-Ha</td>
                    </tr>
                    <tr>
                        <td>021</td>
                        <td>15th October</td>
                        <td>Monday</td>
                        <td>Chindang</td>
                    </tr>
                    <tr>
                        <td>022</td>
                        <td>15th November</td>
                        <td>Monday</td>
                        <td>Nyethrii-Dow</td>
                    </tr>
                    <tr>
                        <td>023</td>
                        <td>25th November</td>
                        <td>Thursday</td>
                        <td>Chalo-Loku</td>
                    </tr>
                    <tr>
                        <td>024</td>
                        <td>05th December</td>
                        <td>Sunday</td>
                        <td>Podi-Barbi</td>
                    </tr>
                    <tr>
                        <td>025</td>
                        <td>Date to be fixed by concerned D.C</td>
                        <td>-----</td>
                        <td>Khikshaba</td>
                    </tr>
                    <tr>
                        <td>026</td>
                        <td>Date to be fixed by concerned D.C</td>
                        <td>-----</td>
                        <td>Lha-Chut</td>
                    </tr>
                    <tr>
                        <td>027</td>
                        <td>Date to be fixed by concerned D.C</td>
                        <td>-----</td>
                        <td>Losar</td>
                    </tr>
                    <tr>
                        <td>028</td>
                        <td>Date to be fixed by concerned D.C</td>
                        <td>-----</td>
                        <td>Poi-Pee Mau</td>
                    </tr>
                </tbody>
            </table>
            
          </section>
          <br><br><br><br><br><br><br><br><br><br><br>
          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 16/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
     

    </body>
