<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>LOCATION | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                        <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="academics.html">Academics</a>
                <a href="admissions.html">Admissions</a>
                <a href="examination.html">Examination</a>
                <a href="transfer.html">Transfer Certificates</a>
                <a href="contact-us.html">Contact Us</a>
                <div class="dropdown">
                  <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                    <!-- <i class="fa fa-caret-down"></i> -->
                  </button>
                  <div class="dropdown-content">
                    <a href="infra-details.html">Infrastructure Details</a>
                    <a href="location.html">Location Details</a>
                    <a href="other.html">Other</a>
                  </div>
                </div> 
            </div>
          </nav>
          <section>

            <div class="result">
                <br><br>
                <h3>Location Details</h3>

                <div class="fle-container">
                  <div class="fle-child magenta">
                      <p> <strong>Nearest Bus Station</strong></p>                    
                  </div>                  
                  <div class="fle-child green">
                      <p>Namsai</p>
                  </div>
                  <div class="fle-child magenta">
                      <p> <strong>Distance of Bus Terminal from School in KM</strong></p>                  
                  </div>                 
                  <div class="fle-child green">
                      <p>14</p>
                  </div>
                </div>

                <div class="fle-container">
                    <div class="fle-child magenta">
                        <p> <strong>Nearest Police Station</strong></p>                    
                    </div>                  
                    <div class="fle-child green">
                        <p>Mahadevpur</p>
                    </div>
                    <div class="fle-child magenta">
                        <p> <strong>Distance of Police Station from School in KM</strong></p>                  
                    </div>                 
                    <div class="fle-child green">
                        <p>0.4</p>
                    </div>
                  </div>

                  <div class="fle-container">
                    <div class="fle-child magenta">
                        <p> <strong>Nearest Hospital</strong></p>                    
                    </div>                  
                    <div class="fle-child green">
                        <p>Mahadevpur CHC</p>
                    </div>
                    <div class="fle-child magenta">
                        <p> <strong>Distance of Hospitals from School in KM</strong></p>                  
                    </div>                 
                    <div class="fle-child green">
                        <p>0.4</p>
                    </div>
                  </div>

                  <div class="fle-container">
                    <div class="fle-child magenta">
                        <p> <strong>Nearest Bank</strong></p>                    
                    </div>                  
                    <div class="fle-child green">
                        <p>Punjab National Bank</p>
                    </div>
                    <div class="fle-child magenta">
                        <p> <strong>Distance of Bank from School in KM</strong></p>                  
                    </div>                 
                    <div class="fle-child green">
                        <p>0.3</p>
                    </div>
                  </div>

                  <div class="fle-container">
                    <div class="fle-child magenta">
                        <p> <strong>Nearest Railway</strong></p>                    
                    </div>                  
                    <div class="fle-child green">
                        <p>New Tinsukia</p>
                    </div>
                    <div class="fle-child magenta">
                        <p> <strong>Distance of Railway Station from School in KM</strong></p>                  
                    </div>                 
                    <div class="fle-child green">
                        <p>62</p>
                    </div>
                  </div>

                  <div class="fle-container">
                    <div class="fle-child magenta">
                        <p> <strong>Nearest Airport</strong></p>                    
                    </div>                  
                    <div class="fle-child green">
                        <p>Mohanbari,Dibrugarh</p>
                    </div>
                    <div class="fle-child magenta">
                        <p> <strong>Distance of Airport from School in KM</strong></p>                  
                    </div>                 
                    <div class="fle-child green">
                        <p>103</p>
                    </div>
                  </div>
                  <br><br><br>
                  <div class="map-gh">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3534.7259961815184!2d95.80560121548105!3d27.633001635361307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x373efca40d17819d%3A0x9265271014cc109d!2sGHSS%20Mahadevpur!5e0!3m2!1sen!2sin!4v1623156119957!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>

            </div>
          </section>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 07/06/2021</p>
          
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
     

    </body>
