<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />

        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                        <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="academics.html">Academics</a>
                <a href="admissions.html">Admissions</a>
                <a href="examination.html">Examination</a>
                <a href="transfer.html">Transfer Certificates</a>
                <a href="contact-us.html">Contact Us</a>
                <div class="dropdown">
                  <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                    <!-- <i class="fa fa-caret-down"></i> -->
                  </button>
                  <div class="dropdown-content">
                    <a href="infra-details.html">Infrastructure Details</a>
                    <a href="location.html">Location Details</a>
                    <a href="other.html">Other</a>
                  </div>
                </div> 
            </div>
          </nav>
          <section>
            <h1> Photogallery </h1>
            <div class="photo__gallery">

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1NVRQ1uHHVptObmC2lVTy2UQpcTNq06HZ/view?usp=sharing"><img src="photogallery/farewel.jpg"></a>
                    <P>At the moment of farewel to Principal C S Singpho</P>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1vbmlyCP-Ft0wzeQ9_0qHHRayBS20naSO/view?usp=sharing"><img src="photogallery/farewel2.jpg"></a>
                    <p>At the moment of farewel to Principal C S Singpho</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1h_e8DrSNnd0iss6DTFmDB22Onr3n_j9Y/view?usp=sharing"><img src="photogallery/EDU- Tour.jpg"></a>
                    <p>Journey to IIT Delhi for Educational Tour sponsored by MHRD in 2015</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1uJJUZ6Vv6-OL7MWp78gSLBNczKqhcx0n/view?usp=sharing"><img src="photogallery/IITDelhi.jpg"></a>
                    <p>Our Students in Senate Hall, IIT Delhi</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1VCTw_rYDOm6oWoCvowEb9tQGqCI7DjdH/view?usp=sharing"><img src="photogallery/IITDelhi-Lib.jpg"></a>
                    <p>Our Students in Central Library, IIT Delhi</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1pmD8qyiXLB6Uzr82fCK7C9SikKnUrg8Y/view?usp=sharing"><img src="photogallery/NSS camp.jpg"></a>
                    <p>NSS Social Service Camp</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1TtOJQIOpW84MR4xLolbaPhZ1ZHT5Vw6C/view?usp=sharing"><img src="photogallery/pasighat1.jpg"></a>
                    <p>Our Students in Khelo India,Pasighat (2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1kngtcLjzcIZt3ZjsZY_RNMjEKvhFy-kU/view?usp=sharing"><img src="photogallery/pasighat2.jpg"></a>
                    <p>Our Students in Khelo India,Pasighat (2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1oZ7nz_qPL6-oRlRhhHnnMB-wocxSaCsO/view?usp=sharing"><img src="photogallery/pasighat3.jpg"></a>
                    <p>Our Students in Khelo India,Pasighat (2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1iF-KLYK5yIiztr6co4zKm-oU9YIsPRab/view?usp=sharing"><img src="photogallery/Photo5.jpg"></a>
                    <p>Girls Kho-Kho Team</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/15rOTMEDrK0PIpALscI8pp0Desa93DWYW/view?usp=sharing"><img src="photogallery/SC-Seminar.jpg"></a>
                    <p>State Level Science Exhibition,Itanagar</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1Fkm7Re1Ah1mgsVBG3R-xlNh9F_LKMHjy/view?usp=sharing"><img src="photogallery/Sports.jpg"></a>
                    <p>Our Volleyball Team at Namsai</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1dImTtFvAZyWJ4blWCc704FUJEyjX5t-r/view?usp=sharing"><img src="photogallery/Sports1 (1).jpg"></a>
                    <P>Volleyball Team Win at Namsai</P>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/16UXfAlKlAmFvfMajxeaqcyVKeJgBEPLg/view?usp=sharing"><img src="photogallery/Sports1 (4).jpg"></a>
                    <p>Mass PT in School Playground (2020)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1SQ76VmGeDoh6KEppQjVRb3lQtZaQykJ_/view?usp=sharing"><img src="photogallery/Sports1 (5).jpg"></a>
                    <p>School Assembly</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1onX-UjmdijVN2Ew2X3176EyLYKCaeunI/view?usp=sharing"><img src="photogallery/Teachersday.jpg"></a>
                    <p>Best performing Teacher Award to B K Singh (2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1-jPwUBE94PTX28SAZ7Yz84yxsu-ZN2OT/view?usp=sharing"><img src="photogallery/TT-Tour.jpg"></a>
                    <p>Our Tour's and Travel's Team at Roing(2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1yq9f3UtjsVeRAeqs0-etC7y0cEqFLBxC/view?usp=sharing"><img src="photogallery/Visit.jpg"></a>
                    <p>Padmi Shree Awardee visit - Shri Sathyanarayan Mundayoor</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1rahGhFRU_AUePLxHc-cCuhyftlFmuPLP/view?usp=sharing"><img src="photogallery/vollyball.jpg"></a>
                    <p>Girls Volleyball Team</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1ilAtb2fHzmyCqaaLlTTjMWfhUWpzg9lY/view?usp=sharing"><img src="photogallery/Yoga.jpg"></a>
                    <p>International yoga Day (2020)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1PKmkEMnC9VmKXrz0ihLEa9jy2kZ5H8-U/view?usp=sharing"><img src="photogallery/old1.jpg"></a>
                    <p>Annual School Week - OLD (1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1ge678jp4xO2nN9D-Z3WWIBvoWmUuofsm/view?usp=sharing"><img src="photogallery/old2.jpg"></a>
                    <p>Old Memories </p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1ODYoGbFd9rc2l_8Ql52LePE6s9C6_xnR/view?usp=sharing"><img src="photogallery/old3.jpg"></a>
                    <p>Old Memories (Sports-1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1nahm-nySu1amL8H2x69hvj9mOL8POMJZ/view?usp=sharing"><img src="photogallery/old4.jpg"></a>
                    <p>Old Students and Teaching Staff</p>
                </div>
                
                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1UDEqO1DyJcfAJiEzJ-Ht8Mi9aH2qG7la/view?usp=sharing"><img src="photogallery/old5.jpg"></a>
                    <p>Annual School Week - Parade (1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1msOBeTfXDwYMO01ZC5wsVlvT9LWR3EKF/view?usp=sharing"><img src="photogallery/old6.jpg"></a>
                    <p>Annual School Week - Parade (1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1wtKCZvw4MA8oMoRlGbXLiG1xkUpoH8ww/view?usp=sharing"><img src="photogallery/old7.jpg"></a>
                    <p>Patel House ,Annual School Week (1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1OlleWs2gaXQ3XbNSfq0UZc9WslgLUV9j/view?usp=sharing"><img src="photogallery/old8.jpg"></a>
                    <p>Subhash House ,Annual School Week (1992)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1cmiFvV48oXNpOEdjIpCFeTVqIvUPZQui/view?usp=sharing"><img src="photogallery/old9.jpg"></a>
                    <p>School Entrance view(2019)</p>
                </div>

                <div class="photo__team">
                    <a href="https://drive.google.com/file/d/1QvVmwNeaUyxcg3cDI9lsnJ7m2keWePCw/view?usp=sharing"><img src="photogallery/old10.jpg"></a>
                    <p>School Entrance view (1992)</p>
                </div>

        

                
                

                
            </div>
          </section>
          <br><br><br><br><br><br><br><br><br><br><br>          <br><br><br><br><br><br><br><br><br><br><br>

          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 07/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
        

    </body>
