<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>SCOUTS & GUIDES | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                        <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="academics.html">Academics</a>
                <a href="admissions.html">Admissions</a>
                <a href="examination.html">Examination</a>
                <a href="transfer.html">Transfer Certificates</a>
                <a href="contact-us.html">Contact Us</a>
                <div class="dropdown">
                  <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                    <!-- <i class="fa fa-caret-down"></i> -->
                  </button>
                  <div class="dropdown-content">
                    <a href="infra-details.html">Infrastructure Details</a>
                    <a href="location.html">Location Details</a>
                    <a href="other.html">Other</a>
                  </div>
                </div> 
            </div>
          </nav>
          <section>

            <div class="about-ncc">
                
                <h2>SCOUTS AND GUIDES</h2>
                <img src="template_im/scout.jpg">
                <p>"By 2024, The Bharat Scouts & Guides will be a globally visible, consistently growing, 
                    self-reliant premium youth movement that is gender balanced, vibrant and responsive to
                     trends. Providing young people with value-based, attractive and challenging youth programme,
                      through competent leaders, effective communication, optimum use of technology and efficient management."</p>
            </div>
            <hr>
            <ul>
                <li><p> Download the registration form <a href="#">here.</a></p></li>
                <li>List of our Scouts and Guides Students.</li>
            </ul>
            <div class="ncc-div">
                
                <div class="ncc-first">
                    <a href="#">
                    <img src="template_im/scouts-img.jpg">
                    <p>2021</p>
                    </a>
                </div>
                <div class="ncc-first">
                    <a href="#">
                    <img src="template_im/scouts-img.jpg">
                    <p>2020</p>
                    </a>
                </div>
                <div class="ncc-first">
                    <a href="#">
                    <img src="template_im/scouts-img.jpg">
                    <p>2019</p>
                    </a>
                </div>
            </div>
            <ul>
                <li>Incharge - <strong>SHRI S.J VERMA</strong></li>
            </ul>
          </section>
          <br><br><br><br><br><br><br><br><br><br><br>
          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 17/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>
     

    </body>
