<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" charset="UTF-8">
        <title>Student | GHSS Mahadevpur</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/png" href="goldenlogo.png" />
        <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Serif&family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="top"></div>
        <header>
            <table>
                <td>
                    <div class="logo">
                      <a href="../index.html"><img src="template_im/goldenlogo.png"></a>

                    </div>
                </td>
                <td>
                    <div class="name">
                    <h2>Government Higher Secondary School Mahadevpur</h2>
                    <h3>Dist-Namsai, Arunachal Pradesh</h3>
                    <h3>Pin-792105</h3>
                    </div>
                </td>
                <td>
                    <div class="info">
                    <p>School No. - 37018</p>
                    <p>Affiliation No. - 2220024</p>
                    <p>UDISE Code - 12180204702</p>
                    <p>Email Id - principalmahadevpur@gmail.com</p>
                    </div>

                </td>
            </table>
        </header>
        <nav>
          <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="academics.html">Academics</a>
            <a href="admissions.html">Admissions</a>
            <a href="examination.html">Examination</a>
            <a href="transfer.html">Transfer Certificates</a>
            <a href="contact-us.html">Contact Us</a>
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-bars fa-1x"></i> 
                <!-- <i class="fa fa-caret-down"></i> -->
              </button>
              <div class="dropdown-content">
                <a href="infra-details.html">Infrastructure Details</a>
                <a href="location.html">Location Details</a>
                <a href="other.html">Other</a>
              </div>
            </div> 
        </div>
          </nav>
          <section>
              <br>
            <h1> Student Enrollment Details </h1>
            <h2>Academic session 2020-2021</h2>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>CLASS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>APST BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>APST GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>APST TOTAL</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST BOYS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>NON-APST GIRLS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST TOTAL</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>TOTAL BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>TOTAL GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>GRAND TOTAL</strong>  </p>
                </div>
            </div>



            <div class="x-container">
                <div class="x-child magenta">
                  <p>IX</p>                   
                </div>                  
                <div class="x-child green">
                  <p>01</p> 
                </div>  
                <div class="x-child magenta">
                  <p>09</p>                   
                </div>                  
                <div class="x-child green">
                  <p>10</p> 
                </div>
                <div class="x-child magenta">
                  <p>82</p>                   
                </div>                  
                <div class="x-child green">
                  <p>60</p> 
                </div>
                <div class="x-child magenta">
                  <p>142</p>                   
                </div>                  
                <div class="x-child green">
                  <p>83</p> 
                </div>  
                <div class="x-child magenta">
                  <p>69</p>                   
                </div>                  
                <div class="x-child green">
                  <p>152</p> 
                </div>     
            </div>


            <div class="x-container">
              <div class="x-child magenta">
                <p>X</p>                   
              </div>                  
              <div class="x-child green">
                <p>04</p> 
              </div>  
              <div class="x-child magenta">
                <p>11</p>                   
              </div>                  
              <div class="x-child green">
                <p>15</p> 
              </div>
              <div class="x-child magenta">
                <p>91</p>                   
              </div>                  
              <div class="x-child green">
                <p>117</p> 
              </div>
              <div class="x-child magenta">
                <p>208</p>                   
              </div>                  
              <div class="x-child green">
                <p>95</p> 
              </div>  
              <div class="x-child magenta">
                <p>128</p>                   
              </div>                  
              <div class="x-child green">
                <p>223</p> 
              </div>     
            </div>


          <div class="x-container">
            <div class="x-child magenta">
              <p>XI-Hum</p>                   
            </div>                  
            <div class="x-child green">
              <p>03</p> 
            </div>  
            <div class="x-child magenta">
              <p>02</p>                   
            </div>                  
            <div class="x-child green">
              <p>05</p> 
            </div>
            <div class="x-child magenta">
              <p>37</p>                   
            </div>                  
            <div class="x-child green">
              <p>42</p> 
            </div>
            <div class="x-child magenta">
              <p>79</p>                   
            </div>                  
            <div class="x-child green">
              <p>40</p> 
            </div>  
            <div class="x-child magenta">
              <p>44</p>                   
            </div>                  
            <div class="x-child green">
              <p>84</p> 
            </div>     
        </div>


        <div class="x-container">
          <div class="x-child magenta">
            <p>XI-Sc</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>  
          <div class="x-child magenta">
            <p>00</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>
          <div class="x-child magenta">
            <p>02</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>
          <div class="x-child magenta">
            <p>02</p>                   
          </div>                  
          <div class="x-child green">
            <p>02</p> 
          </div>  
          <div class="x-child magenta">
            <p>00</p>                   
          </div>                  
          <div class="x-child green">
            <p>02</p> 
          </div>     
      </div>


      <div class="x-container">
        <div class="x-child magenta">
          <p>XII-Hum</p>                   
        </div>                  
        <div class="x-child green">
          <p>03</p> 
        </div>  
        <div class="x-child magenta">
          <p>02</p>                   
        </div>                  
        <div class="x-child green">
          <p>05</p> 
        </div>
        <div class="x-child magenta">
          <p>48</p>                   
        </div>                  
        <div class="x-child green">
          <p>32</p> 
        </div>
        <div class="x-child magenta">
          <p>80</p>                   
        </div>                  
        <div class="x-child green">
          <p>51</p> 
        </div>  
        <div class="x-child magenta">
          <p>34</p>                   
        </div>                  
        <div class="x-child green">
          <p>85</p> 
        </div>     
    </div>


    <div class="x-container">
      <div class="x-child magenta">
        <p>XII-Sc</p>                   
      </div>                  
      <div class="x-child green">
        <p>00</p> 
      </div>  
      <div class="x-child magenta">
        <p>00</p>                   
      </div>                  
      <div class="x-child green">
        <p>00</p> 
      </div>
      <div class="x-child magenta">
        <p>06</p>                   
      </div>                  
      <div class="x-child green">
        <p>02</p> 
      </div>
      <div class="x-child magenta">
        <p>08</p>                   
      </div>                  
      <div class="x-child green">
        <p>06</p> 
      </div>  
      <div class="x-child magenta">
        <p>02</p>                   
      </div>                  
      <div class="x-child green">
        <p>08</p> 
      </div>     
  </div>


  <div class="lastx-container">
    <div class="lastx-child magenta">
      <p>Overall</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>11</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>24</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>35</p> 
    </div>
    <div class="lastx-child magenta">
      <p>266</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>253</p> 
    </div>
    <div class="lastx-child magenta">
      <p>519</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>277</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>277</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>554</p> 
    </div>     
</div>

<br><br>



<h2 class="hide">Academic session 2019-2020</h2>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>CLASS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>APST BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>APST GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>APST TOTAL</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST BOYS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>NON-APST GIRLS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST TOTAL</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>TOTAL BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>TOTAL GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>GRAND TOTAL</strong>  </p>
                </div>
            </div>



            <div class="x-container">
                <div class="x-child magenta">
                  <p>IX</p>                   
                </div>                  
                <div class="x-child green">
                  <p>04</p> 
                </div>  
                <div class="x-child magenta">
                  <p>12</p>                   
                </div>                  
                <div class="x-child green">
                  <p>16</p> 
                </div>
                <div class="x-child magenta">
                  <p>102</p>                   
                </div>                  
                <div class="x-child green">
                  <p>127</p> 
                </div>
                <div class="x-child magenta">
                  <p>229</p>                   
                </div>                  
                <div class="x-child green">
                  <p>106</p> 
                </div>  
                <div class="x-child magenta">
                  <p>139</p>                   
                </div>                  
                <div class="x-child green">
                  <p>245</p> 
                </div>     
            </div>


            <div class="x-container">
              <div class="x-child magenta">
                <p>X</p>                   
              </div>                  
              <div class="x-child green">
                <p>00</p> 
              </div>  
              <div class="x-child magenta">
                <p>02</p>                   
              </div>                  
              <div class="x-child green">
                <p>02</p> 
              </div>
              <div class="x-child magenta">
                <p>49</p>                   
              </div>                  
              <div class="x-child green">
                <p>53</p> 
              </div>
              <div class="x-child magenta">
                <p>102</p>                   
              </div>                  
              <div class="x-child green">
                <p>49</p> 
              </div>  
              <div class="x-child magenta">
                <p>55</p>                   
              </div>                  
              <div class="x-child green">
                <p>104</p> 
              </div>     
            </div>


          <div class="x-container">
            <div class="x-child magenta">
              <p>XI-Hum</p>                   
            </div>                  
            <div class="x-child green">
              <p>02</p> 
            </div>  
            <div class="x-child magenta">
              <p>03</p>                   
            </div>                  
            <div class="x-child green">
              <p>05</p> 
            </div>
            <div class="x-child magenta">
              <p>52</p>                   
            </div>                  
            <div class="x-child green">
              <p>31</p> 
            </div>
            <div class="x-child magenta">
              <p>83</p>                   
            </div>                  
            <div class="x-child green">
              <p>54</p> 
            </div>  
            <div class="x-child magenta">
              <p>34</p>                   
            </div>                  
            <div class="x-child green">
              <p>88</p> 
            </div>     
        </div>


        <div class="x-container">
          <div class="x-child magenta">
            <p>XI-Sc</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>  
          <div class="x-child magenta">
            <p>00</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>
          <div class="x-child magenta">
            <p>06</p>                   
          </div>                  
          <div class="x-child green">
            <p>02</p> 
          </div>
          <div class="x-child magenta">
            <p>08</p>                   
          </div>                  
          <div class="x-child green">
            <p>06</p> 
          </div>  
          <div class="x-child magenta">
            <p>02</p>                   
          </div>                  
          <div class="x-child green">
            <p>08</p> 
          </div>     
      </div>


      <div class="x-container">
        <div class="x-child magenta">
          <p>XII-Hum</p>                   
        </div>                  
        <div class="x-child green">
          <p>01</p> 
        </div>  
        <div class="x-child magenta">
          <p>03</p>                   
        </div>                  
        <div class="x-child green">
          <p>04</p> 
        </div>
        <div class="x-child magenta">
          <p>45</p>                   
        </div>                  
        <div class="x-child green">
          <p>29</p> 
        </div>
        <div class="x-child magenta">
          <p>74</p>                   
        </div>                  
        <div class="x-child green">
          <p>46</p> 
        </div>  
        <div class="x-child magenta">
          <p>32</p>                   
        </div>                  
        <div class="x-child green">
          <p>78</p> 
        </div>     
    </div>


    <div class="x-container">
      <div class="x-child magenta">
        <p>XII-Sc</p>                   
      </div>                  
      <div class="x-child green">
        <p>00</p> 
      </div>  
      <div class="x-child magenta">
        <p>01</p>                   
      </div>                  
      <div class="x-child green">
        <p>01</p> 
      </div>
      <div class="x-child magenta">
        <p>06</p>                   
      </div>                  
      <div class="x-child green">
        <p>01</p> 
      </div>
      <div class="x-child magenta">
        <p>07</p>                   
      </div>                  
      <div class="x-child green">
        <p>06</p> 
      </div>  
      <div class="x-child magenta">
        <p>02</p>                   
      </div>                  
      <div class="x-child green">
        <p>08</p> 
      </div>     
  </div>


  <div class="lastx-container">
    <div class="lastx-child magenta">
      <p>Overall</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>07</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>21</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>28</p> 
    </div>
    <div class="lastx-child magenta">
      <p>260</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>243</p> 
    </div>
    <div class="lastx-child magenta">
      <p>503</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>267</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>264</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>531</p> 
    </div>     
</div>

<br><br>


<h2>Academic session 2018-2019</h2>
            <div class="fle-container">
                <div class="fle-child magenta">
                    <p> <strong>CLASS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                    <p><strong>APST BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>APST GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>APST TOTAL</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST BOYS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>NON-APST GIRLS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>NON-APST TOTAL</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>TOTAL BOYS</strong>  </p>
                </div>
                <div class="fle-child magenta">
                  <p> <strong>TOTAL GIRLS</strong></p>                    
                </div>                  
                <div class="fle-child green">
                  <p><strong>GRAND TOTAL</strong>  </p>
                </div>
            </div>



            <div class="x-container">
                <div class="x-child magenta">
                  <p>IX</p>                   
                </div>                  
                <div class="x-child green">
                  <p>00</p> 
                </div>  
                <div class="x-child magenta">
                  <p>03</p>                   
                </div>                  
                <div class="x-child green">
                  <p>03</p> 
                </div>
                <div class="x-child magenta">
                  <p>150</p>                   
                </div>                  
                <div class="x-child green">
                  <p>138</p> 
                </div>
                <div class="x-child magenta">
                  <p>288</p>                   
                </div>                  
                <div class="x-child green">
                  <p>150</p> 
                </div>  
                <div class="x-child magenta">
                  <p>141</p>                   
                </div>                  
                <div class="x-child green">
                  <p>291</p> 
                </div>     
            </div>


            <div class="x-container">
              <div class="x-child magenta">
                <p>X</p>                   
              </div>                  
              <div class="x-child green">
                <p>04</p> 
              </div>  
              <div class="x-child magenta">
                <p>03</p>                   
              </div>                  
              <div class="x-child green">
                <p>07</p> 
              </div>
              <div class="x-child magenta">
                <p>95</p>                   
              </div>                  
              <div class="x-child green">
                <p>77</p> 
              </div>
              <div class="x-child magenta">
                <p>172</p>                   
              </div>                  
              <div class="x-child green">
                <p>99</p> 
              </div>  
              <div class="x-child magenta">
                <p>80</p>                   
              </div>                  
              <div class="x-child green">
                <p>179</p> 
              </div>     
            </div>


          <div class="x-container">
            <div class="x-child magenta">
              <p>XI-Hum</p>                   
            </div>                  
            <div class="x-child green">
              <p>01</p> 
            </div>  
            <div class="x-child magenta">
              <p>03</p>                   
            </div>                  
            <div class="x-child green">
              <p>04</p> 
            </div>
            <div class="x-child magenta">
              <p>53</p>                   
            </div>                  
            <div class="x-child green">
              <p>29</p> 
            </div>
            <div class="x-child magenta">
              <p>82</p>                   
            </div>                  
            <div class="x-child green">
              <p>54</p> 
            </div>  
            <div class="x-child magenta">
              <p>32</p>                   
            </div>                  
            <div class="x-child green">
              <p>86</p> 
            </div>     
        </div>


        <div class="x-container">
          <div class="x-child magenta">
            <p>XI-Sc</p>                   
          </div>                  
          <div class="x-child green">
            <p>00</p> 
          </div>  
          <div class="x-child magenta">
            <p>01</p>                   
          </div>                  
          <div class="x-child green">
            <p>01</p> 
          </div>
          <div class="x-child magenta">
            <p>06</p>                   
          </div>                  
          <div class="x-child green">
            <p>01</p> 
          </div>
          <div class="x-child magenta">
            <p>07</p>                   
          </div>                  
          <div class="x-child green">
            <p>06</p> 
          </div>  
          <div class="x-child magenta">
            <p>02</p>                   
          </div>                  
          <div class="x-child green">
            <p>08</p> 
          </div>     
      </div>


      <div class="x-container">
        <div class="x-child magenta">
          <p>XII-Hum</p>                   
        </div>                  
        <div class="x-child green">
          <p>00</p> 
        </div>  
        <div class="x-child magenta">
          <p>01</p>                   
        </div>                  
        <div class="x-child green">
          <p>01</p> 
        </div>
        <div class="x-child magenta">
          <p>41</p>                   
        </div>                  
        <div class="x-child green">
          <p>42</p> 
        </div>
        <div class="x-child magenta">
          <p>83</p>                   
        </div>                  
        <div class="x-child green">
          <p>41</p> 
        </div>  
        <div class="x-child magenta">
          <p>43</p>                   
        </div>                  
        <div class="x-child green">
          <p>84</p> 
        </div>     
    </div>


    <div class="x-container">
      <div class="x-child magenta">
        <p>XII-Sc</p>                   
      </div>                  
      <div class="x-child green">
        <p>00</p> 
      </div>  
      <div class="x-child magenta">
        <p>00</p>                   
      </div>                  
      <div class="x-child green">
        <p>00</p> 
      </div>
      <div class="x-child magenta">
        <p>06</p>                   
      </div>                  
      <div class="x-child green">
        <p>04</p> 
      </div>
      <div class="x-child magenta">
        <p>10</p>                   
      </div>                  
      <div class="x-child green">
        <p>06</p> 
      </div>  
      <div class="x-child magenta">
        <p>04</p>                   
      </div>                  
      <div class="x-child green">
        <p>10</p> 
      </div>     
  </div>


  <div class="lastx-container">
    <div class="lastx-child magenta">
      <p>Overall</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>05</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>11</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>16</p> 
    </div>
    <div class="lastx-child magenta">
      <p>351</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>291</p> 
    </div>
    <div class="lastx-child magenta">
      <p>642</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>356</p> 
    </div>  
    <div class="lastx-child magenta">
      <p>302</p>                   
    </div>                  
    <div class="lastx-child green">
      <p>658</p> 
    </div>     
</div>
<br><br>
<h3>To view last 10 years student enrollment list . Click <a href="https://drive.google.com/file/d/1N6_Ds6EP_947e4NLjb-24jp6wyfSc2wt/view?usp=sharing">here.</a></h3>



           

            
  
          </section>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          <footer>
            <br>
            <a class="back-to-top" href="#top">
                <i class="fa fa-angle-up fa-4x" aria-hidden="true"></i>
            </a>
            <p>_____________________________________________________________________________________________________________</p>
           <p> <i class="far fa-copyright"></i> GHSS Mahadevpur, Namsai District, Arunachal Pradesh (India)</p>
           <p>Last updated - 16/06/2021</p>
           <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7e11e8d5-0582-4cd0-9ac5-e0b71788e6e5"></div> -->
            <a href="#">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7823072&style=0006&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" />
            </a>     
        </footer>s


    </body>
